.avatarImage {
  border-radius: 50%;
  border: 3px solid cornflowerblue;
}

.avatar {
  background-color: white;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
